# friendly devcontainer name
COMPOSE_PROJECT_NAME=anagolay_js

# shared name with the Publish Microservice
ENABLE_API_KEY_SUPPORT=false

# CLI env -- we keep this like this for now, it WILL change
ANAGOLAY_PUBLISH_SERVICE_API_KEY=ask_for_it_or_run_all_the_stack_yourself
