# friendly devcontainer name
COMPOSE_PROJECT_NAME=anagolay_js

# shared name with the Publish Microservice
ENABLE_API_KEY_SUPPORT=false

# CLI env -- we keep this like this for now, it WILL change
ANAGOLAY_PUBLISH_SERVICE_API_KEY=ask_for_it_or_run_all_the_stack_yourself
ANAGOLAY_PUBLISH_SERVICE_API_URL=http://host.docker.internal:3000

ANAGOLAY_WEBSOCKET_SERVICE_API_URL=http://host.docker.internal:2113

ANAGOLAY_WORKFLOW_BUILDER_UI=http://localhost:2113/workflow-builder

# OR 127.0.0.1
ANAGOLAY_CHAIN_HOST=host.docker.internal
ANAGOLAY_CHAIN_WS_URL=ws://$ANAGOLAY_CHAIN_HOST:9944

## optional and takes priority only if MOCK_API is true
# POSTMAN_MOCK_API_URL=
# POSTMAN_MOCK_API_KEY=
# MOCK_API=true
