@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.frozen-glass-effect {
  border-radius: 8px;
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
}
