{
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "none",
	"printWidth": 110,
	"pluginSearchDirs": ["."],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"svelteSortOrder": "options-styles-scripts-markup",
	"svelteStrictMode": true,
	"svelteBracketNewLine": false,
	"svelteAllowShorthand": false,
	"svelteIndentScriptAndStyle": false
}
